body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    background-image: linear-gradient(#EE6A7D, #F7F5C9, #F7F5C9);



}

#screen {
    width: 100%;
    height: 56.5vw;


}



h2 {
    text-align: center;
    padding-top: 25px;
    color: white;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 1.2rem;

}

p {
    padding: 20px;
    line-height: 1.6;
    font-size: 18px;
}

img {
    text-align: center;
}

/*************first section***********/



/*#background {
    width: 100vw;
    height: 1000vw;
    background-image: linear-gradient(#EE6A7D, #F7F5C9, #DBC091, #F7F5C9);
}*/

.nav {
    display: grid;
    text-align: center;
    justify-content: space-around;
    padding-top: 27px;
    gap: 20px;

}

.nav a {
    text-decoration: none;
    font-size: 25px;

    font-family: 'Lexend Peta', sans-serif;
    color: white;
}

.nav a:hover {
    font-size: 30px;
}

h1 {
    height: 110vw;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: white;
    font-size: 3rem;
    font-family: 'Lexend Peta', sans-serif;
}

h3 {
    padding-left: 25px;
    color: white;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 20px;

}

#sky1_container {
    background-image: url(Artboard%2010.svg);
    height: 30vw;
    width: 68.7vw;
    position: relative;
    top: 23vw;
}

#sky2_container {
    background-image: url(Artboard%208.svg);
    height: 33vw;
    width: 37.33vw;
    position: relative;
    top: 70vw;
    left: 67vw;
}

#sky3_container {
    background-image: url(Artboard%2012.svg);
    height: 35vw;
    width: 88.23vw;
    top: 77vw;
    right: 12vw;
    position: relative;

}

#sky4_container {
    background-image: url(Artboard%2011.svg);
    height: 40vw;
    width: 74.2vw;
    position: relative;
    top: -31vw;
    right: -8vw;

}

#sky5_container {
    background-image: url(Artboard%209.svg);
    height: 40vw;
    width: 57vw;
    position: relative;
    top: -135vw;
    left: 69vw;
}

/*********SECOND SECTION************/

.inner_div {
    background-color: #FCDBD2;
    height: auto;
    width: auto;
    margin: 30px;
    margin-top: 40px;
}

/*********Third SECTION************/



#col_right .img img {
    object-fit: cover;
    height: auto;
    width: 300px;
    padding-left: 20px;
    padding-bottom: 20px;

}


/*********fourth SECTION************/
#col_right1 .img img {
    height: 400px;
    width: 250px;
    padding-left: 57px;
}



/*********fifth SECTION************/
#fifth_section .img img {
    width: 300px;
    padding-left: 20px;
    padding-bottom: 20px;
}

/*********sixth SECTION************/
#sixth_section .img img {
    width: 300px;
    padding-left: 21px;
    padding-bottom: 15px;
}

.video_container {
    display: grid;
    justify-content: center;

}

.video_container .video {
    height: 200px;
    width: 300px;
    padding-top: 27px;
    padding-left: 20px;
}

.video_container .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
}








@media (min-width: 700px) {

    body {
        width: 100vw;
        height: auto;
        background-image: linear-gradient(#F7F5C9, #EE6A7D, #DBC091, #F7F5C9);

    }

    #first_section {
        background-image: url(baggrund2.0.svg);
        background-repeat: no-repeat;
        position: relative;
        /*display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;*/

    }

    .nav {
        display: flex;
    }

    .nav a {
        text-decoration: none;
        font-size: 30px;
        font-family: 'Kaushan Script', cursive;
        color: white;
    }

    h1 {

        text-align: center;
        height: 40vw;
        font-size: 8rem;
        letter-spacing: 1.5rem;
        text-shadow: 13px 20px 8px #70A8B9;
    }

    h2 {
        font-size: 2rem;
    }

    .line {
        border-top: 2px solid white;
        width: 30rem;
        margin-left: 30px;
    }

    #background {
        width: 100vw;
    }

    #sky1_container {
        display: none;
    }

    #sky2_container {
        display: none;
    }

    #sky3_container {
        display: none;
    }

    #sky4_container {
        /*  top: 85vw;
        right: -39vw;
        z-index: 0;*/
        display: none;
    }

    #sky5_container {
        display: none;
    }

    #second_section {
        padding-top: 52rem;
        align-content: center;
        display: block;

    }

    .inner_div {
        background-color: #FCDBD2;
        height: auto;
        width: 90vw;
        margin-top: 10px;
        z-index: 3;
        box-sizing: border-box;
        display: block;
        position: relative;
        right: 15%;
        left: 2.3%;
    }

    /******************* Third section: 1 artikel*************/

    #third_section h2 {
        text-align: left;
        padding-left: 25px;
    }

    #third_section article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    #third_section .left_col {
        width: 550px;
        padding-left: 25px;
    }

    #col_right {
        margin-top: 30px;
    }

    #col_right .img {
        height: 380px;
        width: 500px;

    }

    #col_right .img img {
        width: 100%;
        height: 80%;
        object-fit: cover;

    }

    /******************* fourth section*************/

    #fourth_section {
        padding-top: 20px;
        padding-bottom: 35px;
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    #fourth_section .left_col {
        width: 530px;
        padding-left: 30px;
    }

    #col_right1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 15px;
        grid-column-gap: 5px;
        margin-top: 30px;
    }

    #col_right1 .img img {
        width: 100%;
        height: 100%;
        width: 270px;
        object-fit: cover;
        padding-left: 5px;

    }

    /******************* Fifth section*************/
    #fifth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    #right_col2 {
        margin-top: 70px;
        padding-top: 50px;
    }

    #right_col2 .img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #right_col2 .img img {
        width: 550px;
        height: 350px;
        padding-bottom: 17px;

    }

    #fifth_section .left_col {
        width: 550px;
        padding-left: 25px;
    }


    /******************* sixth section*************/
    #sixth_section article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        padding-bottom: 70px;
        padding-left: 25px;
    }

    #sixth_section p {
        width: 520px;
    }

    #right_col3 .img img {
        height: 400px;
        width: auto;


    }

    #right_col3 #img_container {
        display: flex;
        gap: 20px;
        padding-right: 25px;
    }


    .video_container .video {
        height: 360px;
        width: 590px;
        padding-left: 0;
        padding-right: 20px;


    }

    .video_container .video video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        outline: none;
    }
